*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

ul,li{
  list-style: none;
}



/* flex  写法 */
.mod_header {
  background: #31c27c;
  height: 44px;
  display: flex;
  align-items: center;

  .music-logo {
    width: 94px;
    height: 26px;
    margin-left: 9px;
    background: url(../images/logo.png) no-repeat 0 0; //  用background 图片不会变形，0 0 表示从左上角开始
    background-size: cover;
  }
}

/* 不用 flex 的写法
.mod_header {
  background: #31c27c;
  height: 44px;
  border: 1px solid  #31c27c;  // 阻止外边距合并导致的上方背景色空白

  .music-logo {
    display: block;
    background:  url(../images/logo.png) no-repeat ;
    background-size: cover;
    width: 94px;
    height: 26px;
    margin: 9px ;
  }
 }
*/


@function px2rem($px) {
  @return $px/320 *10 + rem;
}

.slider {
  position: relative;
  width: px2rem(320);
  overflow: hidden;
  .slider-group {
    transition: all 0.3s;
    overflow: hidden;
    position: relative;  //  用relative 而不是 absolute ,防止父容器slider塌陷

  }
}

.slider > .slider-group > .slider-item {
  float: left;
  width: px2rem(320);
  img {
    width: 100%;
  }
}

.slider > .bullets {
  position: absolute;
  text-align: center;
  bottom: 8px;
  width: 100%;
  .bullet-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #adaaaa;
  }
  .bullet-item.active{
    background: #fff;
  }
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}



